* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
@font-face {
  font-family: a;
  src: url("https://fonts.cdnfonts.com/css/hindenburg"), sans-serif;
}
@font-face {
  font-family: jost;
  src: url(./static/Fonts/Jost-VariableFont_wght.ttf);
}

#main {
  position: relative;
  overflow: hidden;
}
#page-1 {
  height: 100vh;
  width: 100vw;
  background-color: red;
  position: relative;
}
#page-1 > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#page-1 > nav {
  height: 10vh;
  width: 100vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 30px;
}
#page-1 > nav > img {
  width: 15%;
  margin-top: 80px;
}
.primary-button {
  border-radius: 25px;
  padding: 10px 20px;
  margin-right: 15px;
  border: 0.5px solid white;
  background-color: #0940e0;
  color: white;
}
#menu-icon-1 {
  background-image: url("./static/menu-bar-icon.png");
  background-repeat: no-repeat;
  background-position: center;
}
.heading-page-1M {
  position: absolute;
  bottom: 10%;
  left: 5%;
  height: 40vh;
  width: 50vw;
}
.heading-page-1M > h1 {
  font-family: "AMCAP Eternal", sans-serif;
  color: white;
  font-weight: 200;
  font-size: 8vh;
}
.heading-page-1B {
  position: absolute;
  height: 30%;
  width: 100%;
  bottom: 0%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-page-1B > h4 {
  font-family: "AMCAP Eternal", sans-serif;
  color: white;
  font-weight: 100;
  font-size: 3vh;
}
.heading-page-1B > button {
  border: none;
  color: #0940e0;
  background-color: white;
  z-index: 9999;
}

/* PAGE - 2 CSS */
#page-2 {
  height: 100vh;
  width: 100vw;
  background-color: #0940e0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0% 10%;
  align-items: flex-start;
  font-family: jost;
}

#page-2 > h1 {
  color: rgba(255, 255, 255, 0.342);
  font-size: 50px;
  font-weight: 400;
  margin-top: 30px;
}

#page-2 > h2 {
  color: white;
  font-weight: 200;
  font-size: 35px;
}

/* PAGE- 3 CSS */
#page-3 {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #0233c5;
}

#page-3 > canvas {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #0233c5;
}

/* PAGE - 4 CSS */
#page-4 {
  height: 100vh;
  width: 100vw;
  background-color: #0940e0;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0% 10%;
  align-items: flex-start;
  font-family: jost;
}

#page-4 > h1 {
  color: rgba(255, 255, 255, 0.527);
  font-size: 50px;
  font-weight: 400;
  margin-top: 30px;
}

#page-4 > h2 {
  color: white;
  font-weight: 200;
  font-size: 35px;
}

/* PAGE - 5 CSS */
#page-5 {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: #0940e0;
}

#page-5 > canvas {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #0233c5;
}

/* PAGE - 6 CSS */
#page-6 {
  height: 100vh;
  width: 100vw;
  padding: 10% 10%;
  background-color: #0940e0;
  position: relative;
  font-family: jost;
}

#page-6 > h1 {
  position: relative;
  color: rgba(255, 255, 255, 0.527);
  font-size: 50px;
  font-weight: 400;
  margin-top: 30px;
}

#page-6 > h2 {
  color: white;
  font-weight: 200;
  font-size: 35px;
}

/* PAGE - 7 CSS */
#page-7 {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #0233c5;
  font-family: jost;
}
#page-7 > canvas {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #0233c5;
}
#page-7 > #circle {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.021);
  border: 1px solid rgba(255, 255, 255, 0.281);
  z-index: 9;
  display: flex;
  justify-content: center;
  height: 26vw;
  width: 26vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(1.5px);
}

#page-7 > #circle > #inner-circle {
  height: 70%;
  width: 70%;
  position: absolute;
  border-radius: 50%;
  background-color: #093fe091;
  z-index: 10;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  border: 1px solid white;
}

#page-7 > #circle > #inner-circle > img {
  height: 80px;
  width: 110px;
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  z-index: 11;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: 200;
}

/* PAGE - 8 CSS */
#page-8 {
  height: 100vh;
  width: 100vw;
  position: relative;
  background-color: #0340d5;
}

#page-8 > video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#page-8 > #pd8-text {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  text-align: center;
}

#pd8-text > h1 {
  color: white;
  font-weight: 100;
  font-size: 70px;
  margin-bottom: 10px;
  font-family: jost;
  font-weight: 300;
}

#pd8-text > button {
  padding: 20px 30px;
  border-radius: 40px;
  font-size: 18px;
  border: none;
  color: #0340d5;
  font-family: jost;
}

/* PAGE - 9 CSS */
#page-9 {
  height: 130vh;
  width: 100vw;
  position: relative;
  display: flex;
  background-color: #0340d5;
}

#page-9 > #pd9-left {
  height: 100%;
  width: 40%;
  position: relative;
  justify-content: right;
  background-color: #0340d5;
}
#page-9 > #pd9-left > h1 {
  position: absolute;
  color: white;
  font-size: 100px;
  font-weight: 300;
  position: absolute;
  background-color: aqua;
  font-family: jost;
  top: 40%;
  right: 2%;
  transform: translateY(-50%);
  line-height: 90px;
}

#page-9 > #pd9-right {
  height: 100%;
  width: 60%;
  position: relative;
  background-color: #0340d5;
}

#pd9-right-dcenter {
  height: 45%;
  width: 80%;
  background-color: black;
  position: absolute;
  border-radius: 50px;
  top: 40%;
  transform: translateY(-50%);
  background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
  background-size: cover;
}

#pd9-right-text {
  position: absolute;
  font-size: 22px;
  color: rgba(255, 255, 255, 0.5);
  bottom: 0%;
  padding: 0px 65px 40px 40px;
  /* transform: translateY(-25%); */
  font-family: jost;
  font-weight: 200;
}

/* PAGE - 10 CSS */
#page-10 {
  height: 110vh;
  width: 100vw;
  position: relative;
  background-color: black;
  border: none;
}

#page-10 > #pd10-top {
  height: 50%;
  width: 100%;
  position: relative;
  /* background-color: magenta; */
  font-family: jost;
  padding-left: 6%;
  padding-top: 4%;
}

#page-10 > #pd10-top > h1 {
  font-weight: 300;
  font-size: 90px;
  color: white;
  line-height: 95px;
}

#custom-button {
  padding: 20px 30px;
  border-radius: 40px;
  margin-top: 20px;
  font-size: 18px;
  border: none;
  color: #0340d5;
  font-family: jost;
  transition: all ease 0.5s;
}
#custom-button:hover {
  background-color: #0233c5;
  color: white;
  border: 1px solid white;
}

#page-10 > #pd10-middle {
  height: 50%;
  width: 100%;
  /* margin-top: 50px; */
  /* background-color: red; */
  border-top: 1px solid rgba(255, 255, 255, 0.568);
}

#pd10-middle > #middle-buttons {
  position: relative;
  display: flex;
  height: 33.3%;
  width: 100%;
  border-bottom: 0.5px solid white;
  padding: 2.5% 6%;
  align-items: center;
  justify-content: space-between;
}

#pd10-button-texts {
  font-size: 35px;
  font-weight: 300;
  color: white;
  font-family: jost;
  z-index: 99;
}

#pd10-arrows {
  color: white;
  font-size: 25px;
  z-index: 99;
}

#pd10-effect {
  height: 0%;
  width: 100%;
  position: absolute;
  background-color: #0233c5;
  z-index: -1;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all ease 0.5s;
}

#middle-buttons:hover #pd10-effect {
  height: 100%;
}

#links {
  z-index: 100;
  text-decoration: none;
  display: flex;
  width: 100%;
  padding: 0% 0%;
  align-items: center;
  justify-content: space-between;
}
